<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Zwroty Książek</h1>
        
        <ul class="list-group">
            {% for return in returns %}
            <li class="list-group-item">
                <strong>{{ return.loan.book.title }}</strong><br>
                Zwrócone w dniu: {{ return.return_date }}<br>
                Kara: {{ return.fine }} PLN
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('routes.index') }}" class="btn">Biblioteka</a>
    </div>
</body>
</html>
